<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

  

    <!--引入xfire.xml 这个文件包含了定义TransportManager,ServiceRegistry,和一些简单的ServiceFactorys的bean-->
    <import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>
    <bean name="BankService" class="org.codehaus.xfire.spring.ServiceBean">
        <property name="serviceBean" ref="bank"/>
        <property name="serviceClass" value="com.mybank.xfire.example.IBankingService"/>
        <property name="inHandlers">
            <list>
                <ref bean="addressingHandler"/>
            </list>
        </property>
    </bean>
    <bean id="addressingHandler" class="org.codehaus.xfire.addressing.AddressingInHandler"/>
    <bean id="bank" class="com.mybank.xfire.example.BankingService"/>

</beans>